<a href="https://colab.research.google.com/github/Ambarish-224/10-Days-Intensive-Live-Hackathon/blob/main/Oct23_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 -  Python Basics

##### Arithmetic Operation

In [2]:
## Initializing two values
value_1 = 5
value_2 = 6

In [3]:
## add 2 values
added_value = value_1 + value_2

## Multiply 2 value
multiplied_value = value_1 * value_2

## print all value
print("Addition of 2 Number: ", added_value)
print("Multiply of 2 Number: ", multiplied_value)

Addition of 2 Number:  11
Multiply of 2 Number:  30

# IF Else Conditionn

In [4]:
## Initializing another variable
value_3 = 10

In [6]:
if value_1<value_2:
  print("Value 1 is less than Value 2")
else:
    print("Value 1 is not less than Value 2")

Value 1 is less than Value 2

In [7]:
## IF-Else Condition

if value_1>value_2:
  print("Value 1 is less than Value 2")
elif value_3> value_2:
  print("Value 3 is less than value 2")
else:
    print("Value 1 is not less than Value 2")

Value 3 is less than value 2

In [8]:
## Nested If

if value_1>value_2:
  print("Value 1 is less than Value 2")
elif value_3> value_2:
  print("Value 3 is less than value 2")
  if value_3 > value_1:
    print("value_3 is  less than value 1")
  else:
    print("value 3 is greater than value 1")

else:
    print("Value 1 is not less than Value 2")

Value 3 is less than value 2
value_3 is  less than value 1

# While Loop

In [9]:
value_i = 0
while value_i <=10:
  print(value_i)
  value_i = value_i+1

0
1
2
3
4
5
6
7
8
9
10

# For Loop & Range

In [10]:
for value_i in range (1,9):
  print(value_i)

1
2
3
4
5
6
7
8

In [11]:
for value_i in range (50,56):
  print(value_i)

50
51
52
53
54
55

In [12]:
## Increment Value
for value_i in range (1,9,2):
  print(value_i)

1
3
5
7

In [14]:
## Decrement Value
for value_i in range (10,1,-2):
  print(value_i)

10
8
6
4
2

In [17]:
'''
 Calculate the Factorial? Write a python function to calculate Factorial of
 any given number 'n'. For Ex: 5! = 5*4*3*2*1
'''

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial of {number} is {result}")

Enter a number: 5
The factorial of 5 is 120